// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img{
    max-width: 100%;
    height: auto;
}

.justify_text{
  overflow-wrap: break-word;
  text-align: justify;
}